/* Styling targeting everything in the body*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0;
    /* border: 1px solid black; can be uncommented if needed */
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Adds the background color and text color to header and footer bc they are similar*/
.page-head,
.footer{
    background-color: #1f2937;
    color: #F9FaF8;
    flex: 0 1 auto;
}

/* Navigation header styling*/
.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0px;
    width: 80%;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}


ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

/* Similar styling for header links and hero small paragraph text in the top-content class */
a,
.top-content p{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Top content styling including image*/
.top-content{
    background-color: #1f2937;
    display: flex;
    width: auto;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}

.left-side{   
    display: flex;
    flex-direction: column;
    width: 39%;
    padding: 100px;
    flex-wrap: wrap;
    margin-left: auto;
}

.main-hero{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    inline-size: 450px;   
}

.top-content p{
    inline-size: 450px;
    margin: 10px 0;

}

.top-content button{
    background-color: #3882f6;
    color: #F9FaF8;
    font-weight: bold;
    padding: 0.6em 2em;
    border-radius: 8px;
    border: 0;
    width: fit-content;
    height: fit-content;
}

/* image formatting and styling to keep image a particular size*/
.img-placeholder{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.img-placeholder img{
    width: 600px;
    height: 300px;
}

/* Styling for the rest of the content below the page-head class*/
.main-body{
    margin: 0;
    flex: 1;
}

/* Styling for the mid section of the webpage*/
.mid-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 400px;
    justify-content: space-evenly;
    align-content: space-around;
    padding-bottom: 60px;
}

/* Styling for random information header on webpage*/
.info-head{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Styling for boxes and text below the info-header*/
.boxes{
    display: flex;
    justify-content: space-around;
    flex: 0 1 0;
}

.box{
    width: 150px;
}

.round-box{
    height: fit-content;
    padding: 60px 0px;
    width: 150px;
    text-align: center;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.text{
    text-align: center;
    color: #1f2937;
    font-size: medium;
    font-weight:lighter;
    padding-top: 0.5em;
}

/* Styling for the quote sections */
.quote-section{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #e5e7eb;
    text-overflow: ellipsis;
    flex-wrap: wrap;
}

.quote-container{
    width: 50%;
}

.quote-container p{
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
    flex: 0 1 0;
}

.quotee{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 40px 60px;
    width: 850px;
    flex: 0 1 auto;
}

.action-body{
    color: #F9FaF8;
}

.action-body .head{
    font-size: large;
    font-weight: bold;
    padding-bottom: 3px;
}

div .sign-button{
    color: #F9FaF8;
    font-weight: bold;
    padding: 0.6em 2em;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    background-color: #3882f6;
    border-color: white;
}


/* Styling for the bottom footer*/
.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}